<a href="https://colab.research.google.com/github/will-the-wise/credit-risk-project/blob/main/01_data_cleaning_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
# The original error was due to an empty file_path. We assume the dataset contains 'loan.csv'.
file_path = "loan.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "adarshsng/lending-club-loan-data-csv",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

/tmp/ipython-input-4278924774.py:11: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Using Colab cache for faster access to the 'lending-club-loan-data-csv' dataset.

/usr/local/lib/python3.12/dist-packages/kagglehub/pandas_datasets.py:91: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  result = read_function(

First 5 records:    id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0 NaN        NaN       2500         2500           2500.0   36 months
1 NaN        NaN      30000        30000          30000.0   60 months
2 NaN        NaN       5000         5000           5000.0   36 months
3 NaN        NaN       4000         4000           4000.0   36 months
4 NaN        NaN      30000        30000          30000.0   60 months

   int_rate  installment grade sub_grade  ... hardship_payoff_balance_amount  \
0     13.56        84.92     C        C1  ...                            NaN
1     18.94       777.23     D        D2  ...                            NaN
2     17.97       180.69     D        D1  ...                            NaN
3     18.94       146.51     D        D2  ...                            NaN
4     16.14       731.78     C        C4  ...                            NaN

  hardship_last_payment_amount disbursement_method  debt_settlement_flag  \
0                          NaN                Cash                     N
1                          NaN                Cash                     N
2                          NaN                Cash                     N
3                          NaN                Cash                     N
4                          NaN                Cash                     N

  debt_settlement_flag_date settlement_status settlement_date  \
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

  settlement_amount  settlement_percentage settlement_term
0               NaN                    NaN             NaN
1               NaN                    NaN             NaN
2               NaN                    NaN             NaN
3               NaN                    NaN             NaN
4               NaN                    NaN             NaN

[5 rows x 145 columns]

In [ ]:
keep_cols = [
    "loan_status",
    "loan_amnt",
    "term",
    "int_rate",
    "installment",
    "grade",
    "sub_grade",
    "annual_inc",
    "emp_length",
    "home_ownership",
    "verification_status",
    "purpose",
    "dti",
    "earliest_cr_line",
    "open_acc",
    "total_acc",
    "inq_last_6mths",
    "pub_rec",
    "revol_bal",
    "revol_util",
    "addr_state",
    "issue_d",
    "application_type"
]

In [ ]:
df = df[keep_cols]

In [13]:
df

,loan_status,loan_amnt,term,int_rate,installment,grade,sub_grade,annual_inc,emp_length,home_ownership,...,earliest_cr_line,open_acc,total_acc,inq_last_6mths,pub_rec,revol_bal,revol_util,addr_state,issue_d,application_type
0,Current,2500,36 months,13.56,84.92,C,C1,55000.0,10+ years,RENT,...,Apr-2001,9.0,34.0,1.0,1.0,4341,10.3,NY,Dec-2018,Individual
1,Current,30000,60 months,18.94,777.23,D,D2,90000.0,10+ years,MORTGAGE,...,Jun-1987,13.0,44.0,0.0,1.0,12315,24.2,LA,Dec-2018,Individual
2,Current,5000,36 months,17.97,180.69,D,D1,59280.0,6 years,MORTGAGE,...,Apr-2011,8.0,13.0,0.0,0.0,4599,19.1,MI,Dec-2018,Individual
3,Current,4000,36 months,18.94,146.51,D,D2,92000.0,10+ years,MORTGAGE,...,Feb-2006,10.0,13.0,0.0,0.0,5468,78.1,WA,Dec-2018,Individual
4,Current,30000,60 months,16.14,731.78,C,C4,57250.0,10+ years,MORTGAGE,...,Dec-2000,12.0,26.0,0.0,0.0,829,3.6,MD,Dec-2018,Individual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,Current,12000,60 months,14.08,279.72,C,C3,58000.0,10+ years,MORTGAGE,...,Jan-2004,12.0,34.0,0.0,0.0,9592,39.2,VT,Oct-2017,Individual
2260664,Fully Paid,12000,60 months,25.82,358.01,E,E4,30000.0,< 1 year,MORTGAGE,...,Mar-2003,10.0,26.0,1.0,0.0,3497,20.2,OR,Oct-2017,Joint App
2260665,Current,10000,36 months,11.99,332.10,B,B5,64000.0,10+ years,OWN,...,Feb-1995,6.0,13.0,0.0,0.0,7094,70.9,IL,Oct-2017,Individual
2260666,Current,12000,60 months,21.45,327.69,D,D5,60000.0,NaN,RENT,...,Jul-2003,8.0,17.0,1.0,0.0,12927,34.9,AK,Oct-2017,Individual
2260667,Current,16550,60 months,21.45,451.94,D,D5,60000.0,3 years,RENT,...,Apr-2014,13.0,14.0,1.0,0.0,25760,50.8,NY,Oct-2017,Individual

In [14]:
df[keep_cols].to_excel("credit_risk_selected_vars.xlsx", index=False)

ValueError: This sheet is too large! Your sheet size is: 2260668, 23 Max sheet size is: 1048576, 16384