<a href="https://colab.research.google.com/github/will-the-wise/credit-risk-project/blob/main/Copy_of_phase1_done_proj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load data
df = pd.read_csv("loan.csv")

# Random sampling without bias
df_10k = df.sample(n=10000, random_state=42)

# Save reduced dataset
df_10k.to_csv("loan_10000.csv", index=False)

print(df_10k.shape)

/tmp/ipython-input-2620448787.py:4: DtypeWarning: Columns (123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("loan.csv")

(10000, 145)

In [ ]:
import pandas as pd

# Load reduced dataset
df = pd.read_csv("loan_10000.csv", low_memory=False)

# List of required columns
required_cols = [
    "loan_status",
    "loan_amnt",
    "term",
    "int_rate",
    "installment",
    "grade",
    "sub_grade",
    "annual_inc",
    "emp_length",
    "home_ownership",
    "verification_status",
    "purpose",
    "dti",
    "fico_range_low",
    "fico_range_high",
    "earliest_cr_line",
    "open_acc",
    "total_acc",
    "inq_last_6mths",
    "pub_rec",
    "revol_bal",
    "revol_util",
    "addr_state",
    "issue_d",
    "application_type"
]

# Keep only required columns
df_clean = df[required_cols]

# Save final analysis-ready dataset
df_clean.to_csv("loan_10000_selected.csv", index=False)

print(df_clean.shape)

KeyError: "['fico_range_low', 'fico_range_high'] not in index"

In [ ]:
import pandas as pd

# Load reduced dataset
df = pd.read_csv("loan_10000.csv", low_memory=False)

# Required columns (FICO variables removed)
required_cols = [
    "loan_status",
    "loan_amnt",
    "term",
    "int_rate",
    "installment",
    "grade",
    "sub_grade",
    "annual_inc",
    "emp_length",
    "home_ownership",
    "verification_status",
    "purpose",
    "dti",
    "earliest_cr_line",
    "open_acc",
    "total_acc",
    "inq_last_6mths",
    "pub_rec",
    "revol_bal",
    "revol_util",
    "addr_state",
    "issue_d",
    "application_type"
]

# Keep only required columns
df_clean = df[required_cols]

# Save final dataset
df_clean.to_csv("loan_10000_selected.csv", index=False)

print(df_clean.shape)

(10000, 23)

In [ ]:
df_clean['loan_status'].value_counts()

loan_status
Current               9651
Fully Paid             264
In Grace Period         36
Late (31-120 days)      34
Late (16-30 days)       12
Charged Off              3
Name: count, dtype: int64

In [ ]:
df['loan_status'].value_counts()

loan_status
Current               9651
Fully Paid             264
In Grace Period         36
Late (31-120 days)      34
Late (16-30 days)       12
Charged Off              3
Name: count, dtype: int64

In [ ]:
df = df[df['loan_status'].isin(['Fully Paid', 'Charged Off'])]

In [ ]:
df['loan_status'].value_counts()

loan_status
Fully Paid     264
Charged Off      3
Name: count, dtype: int64

In [ ]:
df['default'] = df['loan_status'].apply(
    lambda x: 1 if x == 'Charged Off' else 0
)

In [ ]:
df[['loan_status', 'default']].head()

    loan_status  default
22   Fully Paid        0
102  Fully Paid        0
104  Fully Paid        0
124  Fully Paid        0
126  Fully Paid        0

In [ ]:
default_rate = df['default'].mean()
default_rate

np.float64(0.011235955056179775)

In [ ]:
df = df.drop(columns=['loan_status'])

In [ ]:
df.to_csv("Project1_Phase1_Step1.csv", index=False)

In [ ]:
df.shape

(267, 145)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 267 entries, 22 to 9928
Columns: 145 entries, id to default
dtypes: float64(117), int64(4), object(24)
memory usage: 304.5+ KB

In [ ]:
df.isnull().sum().sort_values(ascending=False)

id                      267
member_id               267
hardship_amount         267
hardship_end_date       267
deferral_term           267
                       ...
num_bc_tl                 0
hardship_flag             0
disbursement_method       0
debt_settlement_flag      0
default                   0
Length: 145, dtype: int64

In [ ]:
(df.isnull().mean() * 100).sort_values(ascending=False)

id                      100.0
member_id               100.0
hardship_amount         100.0
hardship_end_date       100.0
deferral_term           100.0
                        ...
num_bc_tl                 0.0
hardship_flag             0.0
disbursement_method       0.0
debt_settlement_flag      0.0
default                   0.0
Length: 145, dtype: float64

In [ ]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,desc,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,default
count,0.0,0.0,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,267.000000
mean,NaN,NaN,14021.161049,14021.161049,14016.385768,14.036067,409.487903,84343.365693,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.011236
std,NaN,NaN,10756.689725,10756.689725,10759.954333,5.377019,296.675882,57409.262675,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.105601
min,NaN,NaN,1000.000000,1000.000000,1000.000000,6.110000,31.430000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,5000.000000,5000.000000,5000.000000,10.330000,170.920000,51637.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,10500.000000,10500.000000,10500.000000,13.560000,339.650000,70000.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,20000.000000,20000.000000,20000.000000,16.910000,583.550000,100000.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,NaN,NaN,40000.000000,40000.000000,40000.000000,29.690000,1296.900000,389000.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [ ]:
df.groupby('default').mean(numeric_only=True)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,desc,...,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
default,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,13974.242424,13974.242424,13969.602273,14.062841,408.654356,84298.631212,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,18150.000000,18150.000000,18133.333333,11.680000,482.840000,88280.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['default'].value_counts(normalize=True)

default
0    0.988764
1    0.011236
Name: proportion, dtype: float64

In [ ]:
df.groupby('default')['annual_inc'].median()

default
0    70000.0
1    59840.0
Name: annual_inc, dtype: float64

In [ ]:
df.groupby('default')['int_rate'].mean()

default
0    14.062841
1    11.680000
Name: int_rate, dtype: float64

In [ ]:
missing_pct = (df.isnull().mean() * 100).sort_values(ascending=False)
missing_pct

id                      100.0
member_id               100.0
hardship_amount         100.0
hardship_end_date       100.0
deferral_term           100.0
                        ...
num_bc_tl                 0.0
hardship_flag             0.0
disbursement_method       0.0
debt_settlement_flag      0.0
default                   0.0
Length: 145, dtype: float64

In [ ]:
df['annual_inc'] = df['annual_inc'].fillna(df['annual_inc'].median())

In [ ]:
df['emp_length'] = df['emp_length'].replace({
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10
})

/tmp/ipython-input-448588666.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['emp_length'] = df['emp_length'].replace({

In [ ]:
df['emp_length'] = df['emp_length'].fillna(df['emp_length'].median())

In [ ]:
df['revol_util'] = df['revol_util'].fillna(df['revol_util'].median())
df['revol_util'] = df['revol_util'].clip(upper=100)

In [ ]:
df['dti'] = df['dti'].fillna(df['dti'].median())

In [ ]:
cat_vars = [
    'home_ownership','verification_status',
    'purpose','addr_state','application_type'
]

for col in cat_vars:
    df[col] = df[col].fillna('Unknown')

In [ ]:
def winsorize(series, lower=0.01, upper=0.99):
    return series.clip(
        lower=series.quantile(lower),
        upper=series.quantile(upper)
    )

In [ ]:
for col in ['annual_inc','loan_amnt','revol_bal']:
    df[col] = winsorize(df[col])

In [ ]:
df.describe()
df.isnull().sum()

id                       267
member_id                267
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
                        ...
settlement_date          267
settlement_amount        267
settlement_percentage    267
settlement_term          267
default                    0
Length: 145, dtype: int64

In [ ]:
df.to_csv("Project1_Phase1_Cleaned.csv", index=False)

In [ ]:
grade_map = {
    'A': 1, 'B': 2, 'C': 3,
    'D': 4, 'E': 5, 'F': 6, 'G': 7
}

df['grade_num'] = df['grade'].map(grade_map)

In [ ]:
df = df.drop(columns=['sub_grade'])

In [ ]:
cat_vars = [
    'purpose',
    'home_ownership',
    'verification_status',
    'addr_state',
    'application_type'
]

df = pd.get_dummies(df, columns=cat_vars, drop_first=True)

In [ ]:
from sklearn.preprocessing import StandardScaler

scale_vars = [
    'annual_inc','loan_amnt','installment',
    'int_rate','dti','revol_bal','revol_util'
]

scaler = StandardScaler()
df[scale_vars] = scaler.fit_transform(df[scale_vars])

In [ ]:
df = df.drop(columns=['grade'])

In [ ]:
df.shape
df.head()
df.isnull().sum().max()

267

In [ ]:
df.to_csv("Project1_ModelReady_Data.csv", index=False)